/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-font: 'IBM Plex mono'; 
  --title-decor: #FF8DCB;
  --bg-color: #FFF1F7;
  --color-text: #353430;
  --color-nav: var(--color-text, #353430);  
  --color-caption: #FFC2E6;
  --color-shadow: #ff0070;  
  --color-content-caption: var(--color-text, #353430);
  --color-content-subcaption: var(--color-text, #353430); 
  --bg-img: url(../images/cover-image-light.png);
  --visibility: hidden;
  --border-hover: rgba(50, 49, 45, 0.40);
}

@media (width<=768px){
  .theme_light .header__theme-caption {  
    text-shadow: 4px 4px 0px var(--title-decor, #FF8DCB);
  }

  .theme_light .footer__title {  
    text-shadow: 4px 4px 0px var(--title-decor, #FF8DCB);
  }
}
