/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-font: "IBM Plex mono";
  --title-decor: #ff8dcb;
  --bg-color: #fff1f7;
  --color-text: #353430;
  --color-nav: var(--color-text);
  --color-caption: #ffc2e6;
  --color-shadow: #ff0070;
  --color-content-caption: var(--color-text);
  --color-content-subcaption: var(--color-text);
  --bg-img: url(../images/cover-image-light.png);
  --visibility: hidden;
  --border-hover: rgba(255, 0, 112, 0.4);
  --button-focus: #ff0070;
}

@media (width<=768px) {
  .theme_light .header__theme-caption {
    text-shadow: 4px 4px 0px var(--title-decor, #ff8dcb);
  }

  .theme_light .footer__title {
    text-shadow: 2px 2px 0px var(--title-decor, #ff8dcb);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "IBM Plex mono";
    --title-decor: #ff8dcb;
    --bg-color: #fff1f7;
    --color-text: #353430;
    --color-nav: var(--color-text);
    --color-caption: #ffc2e6;
    --color-shadow: #ff0070;
    --color-content-caption: var(--color-text);
    --color-content-subcaption: var(--color-text);
    --bg-img: url(../images/cover-image-light.png);
    --visibility: hidden;
    --border-hover: rgba(255, 0, 112, 0.4);
    --button-focus: #ff0070;
  }
  .header__theme-menu-button:hover {
    border: 1px solid var(--border-hover, rgba(255, 0, 112, 0.4));
  }

  .card__link:hover {
    border-bottom: 1px solid var(--color-text, #353430);
  }

  .header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom: 1px solid (var--button-focus, #ff0070);
  }

  .card__link:focus-visible {
    outline: none;
    border: 1px solid var(--color-text, #353430);
    border-bottom: 1px solid var(--color-text, #353430);
  }
}
