/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root{
  --main-font: 'IBM Plex mono', 'Roboto';  
  --title-decor: #ff0070;
  --color-nav: var(--title-decor, #ff0070);
  --bg-color: #000028;
  --color-text: #F1B2CE;
  --color-caption: #DB00FF; 
  --color-shadow:  var(--title-decor, #ff0070);
  --color-content-caption: #ff0070;
  --color-content-subcaption: #000028;
  --bg-img: url(../images/cover-image-dark.png);
  --visibility: visible;
  --border-hover: rgba(255, 0, 112, 0.40);
  }